<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="content">
            <div class="wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="wrapper">
                {% block footer %}{% endblock %}
            </div>
        </footer>
    </body>
</html>
