{% extends "eidas_node/proxy_service/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Identity Provider Response" %}{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "eidas_node/proxy_service/formautosubmit.js" %}"></script>
{% endblock %}

{% block content %}
    <h1>{% trans "Identity Provider Response" %}</h1>
    {% if error %}
        <p>{% trans "An error occurred during processing of Identity Provider response." %}</p>
        <p>{{ error }}</p>
    {% else %}
        <p>{% trans "Redirect to Service Provider is in progress. If you are not redirected automatically, use Continue button below." %}</p>
        <form action="{{ eidas_url }}" method="post" id="identity-provider-response-form">
            <input type="hidden" name="{{ token_parameter }}" value="{{ token }}"/>
            <input type="submit" value="Continue" />
        </form>
    {% endif %}
{% endblock %}
