{% extends "eidas_node/proxy_service/base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "Service Provider Request" %}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "eidas_node/proxy_service/formautosubmit.js" %}"></script>
{% endblock %}

{% block content %}
    <h1>{% trans "Service Provider Request" %}</h1>
    {% if error %}
        <p>{% trans "An error occurred during processing of Service Provider request." %}</p>
        <p>{{ error }}</p>
    {% else %}
        <p>{% trans "Redirect to Identity Provider is in progress. If you are not redirected automatically, use Continue button bellow." %}</p>
        <form action="{{ identity_provider_endpoint }}" method="post" id="proxy-service-request-form">
            <input type="hidden" name="SAMLRequest" value="{{ saml_request }}"/>
            <input type="hidden" name="RelayState" value="{{ relay_state }}"/>
            <input type="submit" value="Continue" />
        </form>
    {% endif %}
{% endblock %}
