{% load static %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="{% static "eidas_node/connector/css/screen.css" %}"/>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="content">
            <div class="wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="wrapper">
                {% block footer %}{% endblock %}
            </div>
        </footer>
    </body>
</html>
