{% extends "eidas_node/connector/base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "Service Provider Request" %}{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "eidas_node/connector/formautosubmit.js" %}"></script>
{% endblock %}

{% block content %}
    <h1>{% trans "Service Provider Request" %}</h1>
    {% if error %}
        <p>{% trans "An error occurred during processing of Service Provider request." %}</p>
        <p>{{ error }}</p>
    {% else %}
        <p>{% trans "Redirect to Identity Provider is in progress. If you are not redirected automatically, use Continue button below." %}</p>
        <form class="auto-submit" action="{{ eidas_url }}" method="post" id="service-provider-request-form">
            <input type="hidden" name="{{ token_parameter }}" value="{{ token }}"/>
            <input type="submit" value="Continue" />
        </form>
    {% endif %}
{% endblock %}
