.flag-at {
    background-image: url('../img/flag-at.svg');
}

.flag-be {
    background-image: url('../img/flag-be.svg');
}

.flag-bg {
    background-image: url('../img/flag-bg.svg');
}

.flag-cy {
    background-image: url('../img/flag-cy.svg');
}

.flag-cz {
    background-image: url('../img/flag-cz.svg');
}

.flag-de {
    background-image: url('../img/flag-de.svg');
}

.flag-dk {
    background-image: url('../img/flag-dk.svg');
}

.flag-ee {
    background-image: url('../img/flag-ee.svg');
}

.flag-es {
    background-image: url('../img/flag-es.svg');
}

.flag-fi {
    background-image: url('../img/flag-fi.svg');
}

.flag-fr {
    background-image: url('../img/flag-fr.svg');
}

.flag-gb {
    background-image: url('../img/flag-gb.svg');
}

.flag-gr {
    background-image: url('../img/flag-gr.svg');
}

.flag-hr {
    background-image: url('../img/flag-hr.svg');
}

.flag-hu {
    background-image: url('../img/flag-hu.svg');
}

.flag-ie {
    background-image: url('../img/flag-ie.svg');
}

.flag-is {
    background-image: url('../img/flag-is.svg');
}

.flag-it {
    background-image: url('../img/flag-it.svg');
}

.flag-li {
    background-image: url('../img/flag-li.svg');
}

.flag-lt {
    background-image: url('../img/flag-lt.svg');
}

.flag-lu {
    background-image: url('../img/flag-lu.svg');
}

.flag-lv {
    background-image: url('../img/flag-lv.svg');
}

.flag-mt {
    background-image: url('../img/flag-mt.svg');
}

.flag-nl {
    background-image: url('../img/flag-nl.svg');
}

.flag-no {
    background-image: url('../img/flag-no.svg');
}

.flag-pl {
    background-image: url('../img/flag-pl.svg');
}

.flag-pt {
    background-image: url('../img/flag-pt.svg');
}

.flag-ro {
    background-image: url('../img/flag-ro.svg');
}

.flag-se {
    background-image: url('../img/flag-se.svg');
}

.flag-si {
    background-image: url('../img/flag-si.svg');
}

.flag-sk {
    background-image: url('../img/flag-sk.svg');
}
