.flag-at {
    background-image: url('../img/flags/at.svg');
}

.flag-be {
    background-image: url('../img/flags/be.svg');
}

.flag-bg {
    background-image: url('../img/flags/bg.svg');
}

.flag-cy {
    background-image: url('../img/flags/cy.svg');
}

.flag-cz {
    background-image: url('../img/flags/cz.svg');
}

.flag-de {
    background-image: url('../img/flags/de.svg');
}

.flag-dk {
    background-image: url('../img/flags/dk.svg');
}

.flag-ee {
    background-image: url('../img/flags/ee.svg');
}

.flag-es {
    background-image: url('../img/flags/es.svg');
}

.flag-fi {
    background-image: url('../img/flags/fi.svg');
}

.flag-fr {
    background-image: url('../img/flags/fr.svg');
}

.flag-gb {
    background-image: url('../img/flags/gb.svg');
}

.flag-gr {
    background-image: url('../img/flags/gr.svg');
}

.flag-el {
    background-image: url('../img/flags/gr.svg');
}

.flag-hr {
    background-image: url('../img/flags/hr.svg');
}

.flag-hu {
    background-image: url('../img/flags/hu.svg');
}

.flag-ie {
    background-image: url('../img/flags/ie.svg');
}

.flag-is {
    background-image: url('../img/flags/is.svg');
}

.flag-it {
    background-image: url('../img/flags/it.svg');
}

.flag-li {
    background-image: url('../img/flags/li.svg');
}

.flag-lt {
    background-image: url('../img/flags/lt.svg');
}

.flag-lu {
    background-image: url('../img/flags/lu.svg');
}

.flag-lv {
    background-image: url('../img/flags/lv.svg');
}

.flag-mt {
    background-image: url('../img/flags/mt.svg');
}

.flag-nl {
    background-image: url('../img/flags/nl.svg');
}

.flag-no {
    background-image: url('../img/flags/no.svg');
}

.flag-pl {
    background-image: url('../img/flags/pl.svg');
}

.flag-pt {
    background-image: url('../img/flags/pt.svg');
}

.flag-ro {
    background-image: url('../img/flags/ro.svg');
}

.flag-se {
    background-image: url('../img/flags/se.svg');
}

.flag-si {
    background-image: url('../img/flags/si.svg');
}

.flag-sk {
    background-image: url('../img/flags/sk.svg');
}
