@import url('flags.css');

.flag {
    display: inline-block;
    height: 24px;
    width: 32px;
    cursor: pointer;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
    margin: 15px 16px 15px 0;
}

#country-selector-form {
    columns: 4;
}

#country-selector-form button {
    display: block;
    background: none;
    border: none;
    line-height: 26px;
    font-size: 20px;
    color: #000;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

#country-selector-form button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#country-selector-form button:focus {
    outline:none;
    -moz-outline: none;
    -webkit-outline: none;
}

#country-selector-form button::-moz-focus-inner {
    border:0;
}

@media (max-width: 992px) {
    #country-selector-form {
        columns: 3;
    }
}

@media (max-width: 786px) {
    #country-selector-form {
        columns: 2;
    }
}

@media (max-width: 500px) {
    #country-selector-form {
        columns: 1;
    }
}
