@import url('flags.css');

.flag {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
    height: 24px;
    margin-right: 16px;
    width: 32px;
}

#country-selector-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
}

#country-selector-form button {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: none;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 1;
    margin: 18px 0;
    -moz-outline: none;
    -webkit-outline: none;
    outline: none;
    text-align: left;
    width: 25%;
}

#country-selector-form button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#country-selector-form button:focus {
    -moz-outline: none;
    -webkit-outline: none;
    outline: none;
}

#country-selector-form button::-moz-focus-inner {
    border: 0;
}

@media (max-width: 992px) {
    #country-selector-form button {
        width: 33.33%;
    }
}

@media (max-width: 786px) {
    #country-selector-form button {
        width: 50%;
    }
}

@media (max-width: 500px) {
    #country-selector-form button {
        width: 100%;
    }
}

label {
    display: block;
    margin: 0.5em 0;
}
